<%= form_for(@website, :html => {:class => "form-horizontal"}) do |f| %>
    <% if @website.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website from being saved:</h2>

          <ul>
            <% @website.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-heading"><b><%= label %></b></div>
        <div class="panel-body">

          <div class="form-group">
            <%= f.label :label, class: "control-label  col-lg-3" %>
            <div class="col-lg-3">
              <%= f.text_field :label, class: "form-control", size: 48 %>
            </div>
          </div>
          <div class="form-group">

            <%= f.label :url_root, class: "control-label  col-lg-3" %>
            <div class="col-lg-3">
              <%= f.url_field :url_root, class: "form-control", size: 48 %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label "Google Analytics profil id", class: "control-label  col-lg-3" %>
            <div class="col-lg-1">
              <%= f.text_field :profil_id_ga, class: "form-control", size: 16, :disabled => true %>
            </div>
          </div>


          <div class="form-group">
            <%= f.label "How many scraped pages", class: "control-label  col-lg-3" %>
            <div class="col-lg-3">
              <div class="radio">
                <div class="col-lg-3">
                  <%= radio_button_tag("count_page_rb", "all", @website.count_page == 0 ? true : false, onClick: "website_count_page.disabled=true;") %> <%= f.label "All" %>
                </div>
              </div>
              <div class="radio">
                <div class="col-lg-3">
                  <%= radio_button_tag("count_page_rb", "some", @website.count_page == 0 ? false : true, onClick: "website_count_page.disabled=false;") %><%= f.label "Some" %>
                </div>
                <div class="col-lg-3">
                  <%= f.number_field :count_page, class: "form-control", :disabled => @website.count_page == 0 ? true : false %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label "Which scheme url scraped page", class: "control-label  col-lg-3" %>
            <div class="col-lg-2">
              <%= f.select :schemes, options_for_select([["Scrape http scheme", "http"], ["Scrape https scheme", "https"]], @website.schemes), {}, {:class => "form-control", :multiple => true} %>
              <%= f.label "(hold shift to select more than one)", class: "text-primary small" %>
            </div>

          </div>
          <div class="form-group">
            <%= f.label "What perimeter scraped page", class: "control-label  col-lg-3" %>

            <div class="col-lg-2">
              <%= f.select :types, options_for_select([["Scrape page with Fqdn url", "local"], ["Scrape page with Domain url", "global"], ["Scrape page with Extern url", "full"]], @website.types), {}, {:class => "form-control", :multiple => true} %>
              <%= f.label "(hold shift to select more than one)", class: "text-primary small" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label "Which advertising contains by website", class: "control-label  col-lg-3" %>
            <div class="col-lg-2">
              <%= f.select :advertisers, options_for_select(["adsense"], @website.advertisers), {}, {:class => "form-control", :multiple => true} %>
              <%= f.label "(hold shift to select more than one)", class: "text-primary small" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label "How many keywords find website", class: "control-label  col-lg-3" %>
            <div class="col-lg-3">
              <% if @website.count_organic == -1 %>
                  <%= f.label "Never or failed checking", class: " control-label text-uppercase text-nowrap text-danger " %>    <br>
                  <%= f.label "Will be checked tonight !", class: "small text-primary control-label" %>
              <% else %>
                  <%= f.text_field :count_organic, class: "col-lg-2", :disabled => true %>
              <% end %>

            </div>
          </div>
          <div class="form-group">
            <%= f.label "How many referrals referrer website", class: "control-label  col-lg-3" %>
            <div class="col-lg-3">
              <% if @website.count_referral == -1 %>
                  <%= f.label "Never or failed checking", class: " control-label text-uppercase text-nowrap text-danger " %>    <br>
                  <%= f.label "Will be checked tonight !", class: "small text-primary control-label" %>
              <% else %>
                  <%= f.text_field :count_referral, class: "col-lg-2", :disabled => true %>

              <% end %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">

              <%= f.submit "Save", class: "btn btn-info" %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
