<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><h3>Listing Websites<span class="badge"><%= Website.count %></span></h3></div>
  <div class="panel-body">
    <%= link_to 'New Website', new_website_path, class: 'btn btn-sm btn-default' %>
    <%= link_to 'Delete all Websites', destroy_all_websites_path, class: "btn btn-sm btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %>

    <div class="table-responsive">
      <table class="table table-hover ">
        <thead class="header-table">

        <tr>
          <th class="text-left">Label</th>
          <th class="text-center">Profil id ga</th>
          <th class="text-left">Url root</th>
          <th class="text-center">Count page</th>
          <th class="text-center">Schemes accepted</th>
          <th class="text-center">Strategy scraping</th>
          <th class="text-center">Keywords referrer</th>
          <th class="text-center">Backlinks referrer</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% @websites.each do |website| %>
            <tr>
              <td class="text-left vert-align"><%= website.label %></td>
              <td class="text-center vert-align"><%= website.profil_id_ga %></td>
              <td class="text-left vert-align"><%= website.url_root %></td>
              <td class="text-center vert-align"><%= website.count_page == 0 ? "All" : website.count_page %></td>
              <td class="text-center vert-align"><%= website.schemes.join(" and ") %></td>
              <td class="text-center vert-align"><%= website.types.join(" and ") %></td>
              <td class="text-center vert-align"><%= website.count_organic == -1 ? "uncheck" : website.count_organic > 0 %></td>
              <td class="text-center vert-align"><%= website.count_referral == -1 ? "uncheck" : website.count_referral > 0 %></td>
              <td class="text-center vert-align"><%= link_to 'Edit', edit_website_path(website), class: "btn btn-sm btn-default" %></td>
              <td class="text-center vert-align"><%= link_to 'Destroy', website, method: :delete,class: "btn btn-sm btn-danger", data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

