<%= javascript_include_tag 'moment' %> <!-- utiliser pour afficher le calendrier -->
<%= javascript_include_tag 'bootstrap-datetimepicker.js' %> <!-- utiliser pour afficher le calendrier -->
<script type="text/javascript">


    function refresh_sea_attack_source() {
        $.ajax({
            url: "/websites/" + sea_selected.selectedIndex,
            type: "GET",
            dataType: "json",
            data: {},
            success: function (data) {
                if (data.count_organic <= 0)
                    sea_attack_organic_medium_percent.disabled = true;
                else
                    sea_attack_organic_medium_percent.disabled = false;

            },
            error: function (data) {
                sea_attack_organic_medium_percent.disabled = true;
            }
        })
    }
    $(document).ready(function () {
        refresh_sea_attack_source();
    });
    $('select#sea_selected').on('change', function () {
        refresh_sea_attack_source();
    })
    ;
</script>

<%= form_for(@sea_attack) do |f| %>
    <% if @sea_attack.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@sea_attack.errors.count, "error") %> prohibited this sea_attack from being saved:</h2>

          <ul>
            <% @sea_attack.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-heading"><b><%= label %></b></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-2">
              <p>

                <%= label_tag "Sea" %>
                <%= select_tag :sea_selected,
                               options_from_collection_for_select(@seas, "id", "label", @sea.nil? ? "0" : @sea.id),
                               class: "form-control",
                               :include_blank => "Select one" %>

              </p>

              <p>

              <div class="panel panel-default">
                <div class="panel-heading">Statistic</div>
                <div class="panel-body">
                  <p>
                    <%= label_tag "Default" %>
                    <%= f.radio_button :statistic_type, "default", :checked => true, onClick: "statistic_selected.disabled=true;" %>
                    <%= label_tag "Custom" %>
                    <%= f.radio_button :statistic_type, "custom", onClick: "statistic_selected.disabled=false;" %>
                  </p>

                  <p>
                    <%= select_tag :statistic_selected,
                                   options_from_collection_for_select(@statistics, "id", "label", @statistic.nil? ? "0" : @statistic.statistic_id),
                                   class: "form-control",
                                   :include_blank => "Select one",
                                   :disabled => @sea_attack.statistic_type == "custom" ? false : true %>
                  </p>
                </div>
              </div>
              </p>
            </div>

            <div class="col-lg-2">
              <div class="panel panel-default">
                <div class="panel-heading">Planification</div>
                <div class="panel-body">
                  <p>
                    <%= f.label :start_date %>
                    <%= f.date_field :start_date, class: "form-control" %>
                  </p>

                  <p>
                    <%= f.label "Delay(week)" %><%= f.number_field :count_weeks, class: "form-control" %>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="panel panel-default">
                <div class="panel-heading">Behaviour <span class="label label-warning">Optional</span></div>
                <div class="panel-body">

                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#behaviour_website">Website visit</a></li>
                    <li><a data-toggle="tab" href="#behaviour_search">Organic search</a></li>
                    <li><a data-toggle="tab" href="#behaviour_advertiser">Advertiser visit</a></li>
                  </ul>
                  <div class="tab-content">
                    <div id="behaviour_website" class="tab-pane fade in active">
                      <div class="row">
                        <div class="col-lg-4">
                          <p>
                            <%= f.label "Min duration page" %>
                            <%= f.number_field :min_duration, class: "form-control" %>
                          </p>

                          <p>
                            <%= f.label "Min duration visit" %>
                            <%= f.number_field :min_duration_website, class: "form-control" %>
                          </p>

                          <p>
                            <%= f.label "Min count page visit" %>
                            <%= f.number_field :min_pages_website, class: "form-control" %>
                          </p>
                        </div>
                        <div class="col-lg-4">
                          <p>
                            <%= f.label "Max duration page" %>
                            <%= f.number_field :max_duration, class: "form-control" %>

                          </p>


                        </div>

                      </div>
                    </div>
                    <div id="behaviour_search" class="tab-pane fade">
                      <div class="row">
                        <div class="col-lg-4">
                          <p>
                            <%= f.label "Min duration page" %>
                            <%= f.number_field :min_duration_page_organic, class: "form-control" %>
                          </p>
                          <p><%= f.label "Min count page" %>
                            <%= f.number_field :min_count_page_organic, class: "form-control" %>
                          </p>


                        </div>
                        <div class="col-lg-4">
                          <p>
                            <%= f.label "Max duration page"  %>
                            <%= f.number_field :max_duration_page_organic, class: "form-control" %>
                          </p>
                          <p>
                            <%= f.label "Max count page" %>
                            <%= f.number_field :max_count_page_organic, class: "form-control" %>
                          </p>

                        </div>
                      </div>
                    </div>
                    <div id="behaviour_advertiser" class="tab-pane fade ">
                      <div class="row">
                        <div class="col-lg-4">
                          <p><%= f.label "Min duration page" %>
                            <%= f.number_field :min_duration_page_advertiser, class: "form-control" %>  </p>
                          <p><%= f.label "Min count page" %>
                            <%= f.number_field :min_count_page_advertiser, class: "form-control" %> </p>



                          <p>
                            <%= f.label "Percent local page" %>
                            <%= f.number_field :percent_local_page_advertiser, class: "form-control" %>    </p>
                        </div>
                        <div class="col-lg-4">

                          <%= f.label "Max duration page" %>
                          <%= f.number_field :max_duration_page_advertiser, class: "form-control" %>
                          </p>
                          <p>
                            <%= f.label "Max count page" %>
                            <%= f.number_field :max_count_page_advertiser, class: "form-control" %></p>
                           <p>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <div class="panel panel-default">
                <div class="panel-heading">Execution mode</div>
                <div class="panel-body">
                  <p>
                    <%= label_tag "Auto" %>
                    <%= f.radio_button :execution_mode, "auto", :checked => true %>
                    <%= label_tag "Manual" %>
                    <%= f.radio_button :execution_mode, "manual" %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p class="text-primary">
                Would you Publish your Sea Attack Policy
                <%= f.submit "Now", class: "btn btn-info", data: {confirm: "Are you sure?"} %>
                or
                <%= f.submit "Later", class: "btn btn-info" %>
                ?
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>


<% end %>



