<script>
    $('.pnv_slider_class').on("slide", function (evt) {
        $("#percent_new_visit").text(evt.value + '% New Visit');
    });
    $('.pnv_slider_class').slider({
        tooltip: 'none',
        tooltip_position: 'bottom',
        formatter: function (value) {
            return value;
        }
    });
    $('.vbr_slider_class').on("slide", function (evt) {
        $("#visit_bounce_rate").text(evt.value + '% Bounce Visit');
    });
    $('.vbr_slider_class').slider({
        tooltip: 'none',
        tooltip_position: 'bottom',
        formatter: function (value) {
            return value;
        }
    });
    $('.atos_slider_class').on("slide", function (evt) {
        $("#avg_time_on_site").text(evt.value + 'mn Avg delay Visit');
    });
    $('.atos_slider_class').slider({
        tooltip: 'none',
        tooltip_position: 'bottom',
        formatter: function (value) {
            return value;
        }
    });
    $('.pvpv_slider_class').on("slide", function (evt) {
        if (evt.value > 1) {
            label = ' Pages per Visit';
        }
        else {
            label = ' Page per Visit';
        }

        $("#page_views_per_visit").text(evt.value + label);
    });

    $('.pvpv_slider_class').slider({
        tooltip: 'none',
        tooltip_position: 'bottom',
        formatter: function (value) {
            return value;
        }
    });
    $('.hdd_slider_class').on("slide", function (evt) {
        var tot = 0;
        for (var i = 0; i < 24; i++) {
            tot = tot + parseInt($("#statistic_hourly_daily_distribution" + i).val(), 10);
            $("#hdd_total").text(tot)
        }

        if (tot == 100) {

            $('#hdd_title').css('color', "green");
        }
        else {

            $('#hdd_title').css('color', "red");
        }
    });
    $('.hdd_slider_class').slider({
        tooltip: 'none',
        tooltip_position: 'bottom',

        formatter: function (value) {
            return value;
        }
    });
</script>
<style>


    .slider-selection {
        background: #BABAFF;
    }

</style>

<%= form_for(@statistic, :html => {:class => "form-horizontal"}) do |f| %>
    <% if @statistic.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@statistic.errors.count, "error") %> prohibited this statistic from being saved:</h2>

          <ul>
            <% @statistic.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-heading"><b><%= label %></b></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-5">

              <p>
                <%= f.label :label %>
                <%= f.text_field :label, class: "form-control", size: 48 %>
              </p>

              <div class="panel panel-default">
                <div class="panel-heading">Properties Visit</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-4">
                      <%= f.label "#{ @statistic.nil? ? "100" : @statistic.percent_new_visit}% New Visit",
                                  id: :percent_new_visit %>
                    </div>



                    <%= f.number_field :percent_new_visit,
                                       class: "form-control pnv_slider_class",
                                       data: {'slider-id' => 'pnvSlider',
                                              'slider-min' => "0",
                                              'slider-max' => "100",
                                              'slider-step' => "1",
                                              'slider-value' => @statistic.nil? ? "100" : @statistic.percent_new_visit} %>
                  </div>

                  <div class="row">
                    <div class="col-lg-4">
                      <%= f.label "#{@statistic.nil? ? "0" : @statistic.visit_bounce_rate}% Bounce Visit",
                                  id: :visit_bounce_rate %>
                    </div>



                    <%= f.number_field :visit_bounce_rate,
                                       data: {'slider-id' => 'vbrSlider',
                                              'slider-min' => "0",
                                              'slider-max' => "100",
                                              'slider-step' => "1",
                                              'slider-value' => @statistic.nil? ? "0" : @statistic.visit_bounce_rate},
                                       class: "form-control vbr_slider_class" %>

                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <%= f.label "#{ @statistic.nil? ? "0" : @statistic.avg_time_on_site}mn Avg delay Visit",
                                  id: :avg_time_on_site %>
                    </div>


                    <%= f.number_field :avg_time_on_site,
                                       data: {'slider-id' => 'atosSlider',
                                              'slider-min' => "1",
                                              'slider-max' => "15",
                                              'slider-step' => "1",
                                              'slider-value' => @statistic.nil? ? "0" : @statistic.avg_time_on_site},
                                       class: "form-control atos_slider_class" %>

                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <%= f.label "#{ @statistic.nil? or @statistic.page_views_per_visit == 1 ? "1 Page per Visit" : @statistic.page_views_per_visit} Pages per Visit",
                                  id: :page_views_per_visit %>
                    </div>


                    <%= f.number_field :page_views_per_visit,
                                       data: {'slider-id' => 'pvpvSlider',
                                              'slider-min' => "1",
                                              'slider-max' => "10",
                                              'slider-step' => "1",
                                              'slider-value' => @statistic.nil? ? "0" : @statistic.page_views_per_visit},
                                       class: "form-control pvpv_slider_class" %>

                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" id="hdd_title">Hourly Daily Distribution <%= f.label "(#{sum =0  ; 24.times{|hour| sum += eval("@statistic.hourly_daily_distribution#{hour}")};sum})", id: "hdd_total"%></div>
                <div class="panel-body">


                  <% 24.times { |hour| %>
                      <div class="row">
                        <div class="col-lg-4"><%= f.label :"#{hour}-#{hour + 1}h",
                                                          id: "hdd#{hour}-#{hour + 1}"
                        %>
                        </div>
                        <%= f.number_field eval(":hourly_daily_distribution#{hour}"),
                                           data: {'slider-id' => 'hddSlider',
                                                  'slider-min' => "0",
                                                  'slider-max' => "100",
                                                  'slider-step' => "2",
                                                  'slider-value' => @statistic.nil? ? "0" : eval("@statistic.hourly_daily_distribution#{hour}")},
                                           class: "form-control hdd_slider_class" %>

                      </div>
                  <% } %>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="text-primary">
            <%= f.submit "Save", class: "btn btn-info" %>
          </p>
        </div>
      </div>

    </div>

    </div>



<% end %>
