<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><h3>Listing Statistics<span class="badge"><%= Statistic.count %></span></h3></div>
  <div class="panel-body">
    <%= link_to 'New Statistic', new_statistic_path, class: 'btn btn-sm btn-default' %>
    <%= link_to 'Delete all Statistics', destroy_all_statistics_path, class: "btn btn-sm btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %>

    <div class="table-responsive">
      <table class="table table-hover ">
        <thead class="header-table">

  <tr>
    <th class="text-left">Label</th>
      <th class="text-center">Hourly daily distribution</th>
      <th class="text-center">Percent new visit</th>
      <th class="text-center">Visit bounce rate</th>
      <th class="text-center">Avg time on site</th>
      <th class="text-center">Page views per visit</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.each do |statistic| %>
      <tr>
        <td class="text-left vert-align"><%= statistic.label %></td>
        <td class="text-center vert-align"> todo hourly daily distribution </td>
        <td class="text-center vert-align"><%= statistic.percent_new_visit %></td>
        <td class="text-center vert-align"><%= statistic.visit_bounce_rate %></td>
        <td class="text-center vert-align"><%= statistic.avg_time_on_site %></td>
        <td class="text-center vert-align"><%= statistic.page_views_per_visit %></td>
        <td class="text-center vert-align"><%= link_to 'Edit', edit_statistic_path(statistic), class: "btn btn-sm btn-default" %></td>
        <td class="text-center vert-align"><%= link_to 'Destroy', statistic, method: :delete,class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    </div>
  </div>
</div>
