<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @statistic.label %>
</p>

<p>
  <strong>Count visits per day:</strong>
  <%= @statistic.count_visits_per_day %>
</p>



<p>
  <strong>Percent new visit:</strong>
  <%= @statistic.percent_new_visit %>
</p>

<p>
  <strong>Visit bounce rate:</strong>
  <%= @statistic.visit_bounce_rate %>
</p>

<p>
  <strong>Avg time on site:</strong>
  <%= @statistic.avg_time_on_site %>
</p>

<p>
  <strong>Page views per visit:</strong>
  <%= @statistic.page_views_per_visit %>
</p>

<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
