<div class="container">

  <div class="jumbotron">

    <div class="row">
      <div class="col-lg-6"><h2> Choose your Policy !!!</h2>

        <div class="row">
          <div class="col-lg-6"><%= link_to 'Advert Policy', new_advert_path, class: "btn btn-primary btn-lg" %></div>
          <div class="col-lg-6"><%= link_to 'Traffic Policy', new_traffic_path, class: "btn btn-primary btn-lg" %></div>
          <div class="col-lg-6"><%= link_to 'Rank Policy', new_rank_path, class: "btn btn-primary btn-lg" %></div>
          <div class="col-lg-6"><%= link_to 'Sea attack Policy', new_sea_attack_path, class: "btn btn-primary btn-lg" %></div>
        </div>

      </div>
      <div class="col-lg-6">

        <div class="row">
          <div class="col-lg-6"><%= link_to 'Define new Website', new_website_path, class: "btn btn-primary btn-lg" %></div>
          <div class="col-lg-6"><%= link_to 'Define new Statistic', new_statistic_path, class: "btn btn-primary btn-lg" %></div>
        </div>
      </div>

    </div>

  </div>
</div>
