<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <ul class="nav nav-tabs">

                <% if ["published"].include?(traffic.state) %>
                    <li class="active">
                      <a data-toggle="tab" href="#calendar-traffic<%= traffic.id %>">Calendar</a>
                    </li>
                    <% tasks = traffic.tasks %>
                    <li>
                      <a data-toggle="tab" href="#tasks-traffic<%= traffic.id %>">Tasks
                        <span class="badge"> <%= tasks.size %></span></a>
                    </li>
                    <% objectives = traffic.objectives %>
                    <li>
                      <a data-toggle="tab" href="#objectives-traffic<%= traffic.id %>">Objectives
                        <span class="badge"> <%= objectives.size %></span></a>
                    </li>

                    <li>

                      <a data-toggle="tab" href="#visits-traffic<%= traffic.id %>">Visits

                        <span class="badge"> <%= traffic.visits.count %>  </span></a>


                    </li>
                    <li><a data-toggle="tab" href="#website-traffic<%= traffic.id %>">Website</a></li>
                <% else %>
                    <li class="active">
                      <a data-toggle="tab" href="#website-traffic<%= traffic.id %>">Website</a>
                    </li>
                <% end %>
                <% if traffic.statistic_type == "custom" %>
                    <li>
                      <a data-toggle="tab" href="#statistics-traffic<%= traffic.id %>">Statistic</a>
                    </li>
                <% end %>
                <li>
                  <a data-toggle="tab" href="#behaviour-traffic<%= traffic.id %>">Behaviour</a>
                </li>
              </ul>
              <div class="tab-content">
                <% if ["published"].include?(traffic.state) %>
                    <div id="tasks-traffic<%= traffic.id %>" class="tab-pane fade">

                      <% tasks = traffic.tasks.group("date(time)").order(time: :desc).size %>

                      <div class="panel-group" id="accordion">
                        <% tasks.each { |date, count_tasks| %>
                            <div class="panel panel-default">
                              <div class="panel-heading">

                                <a data-toggle="collapse" data-parent="#accordion" href="#tasks-traffic<%= traffic.id %>-<%= date %>"><%= date %></a>

                              </div>
                              <div id="tasks-traffic<%= traffic.id %>-<%= date %>" class="panel-collapse collapse">
                                <div class="panel-body">
                                  <%= render partial: 'tasks/index', :locals => {:tasks => traffic.tasks.where("date(time) = ?", date)} %>
                                </div>
                              </div>
                            </div>
                        <% } %>
                      </div>


                    </div>

                    <div id="objectives-traffic<%= traffic.id %>" class="tab-pane fade">
                      <p><%= render partial: 'objectives/index', :locals => {:objectives => objectives} %></p>
                    </div>
                    <div id="visits-traffic<%= traffic.id %>" class="tab-pane fade">
                      <p><%= render partial: 'visits/index', :locals => {:execution_mode => traffic.execution_mode,
                                                                         :policy_id => traffic.id,
                                                                         :state => "created"} %></p>
                    </div>
                    <div id="calendar-traffic<%= traffic.id %>" class="tab-pane fade in active">
                      <p><%= render partial: 'calendar/index', :locals => {:current_date => Date.today,
                                                                           :policy_type => :traffic,
                                                                           :policy_id => traffic.id,
                                                                           :planed_dates => traffic.planed_dates} %></p>
                    </div>
                    <div id="website-traffic<%= traffic.id %>" class="tab-pane fade">
                      <p><%= render partial: 'websites/show', :locals => {:website => traffic.website} %></p>
                    </div>
                <% else %>

                    <div id="website-traffic<%= traffic.id %>" class="tab-pane fade in active">
                      <p><%= render partial: 'websites/show', :locals => {:website => traffic.website} %></p>
                    </div>
                <% end %>
                <% if traffic.statistic_type == "custom" %>
                    <div id="statistics-traffic<%= traffic.id %>" class="tab-pane fade">
                      <p><%= render partial: 'statistics/show', :locals => {:statistic => traffic.custom_statistic.statistic} %></p>
                    </div>
                <% end %>
                <div id="behaviour-traffic<%= traffic.id %>" class="tab-pane fade">
                  <p>

                  <div class="col-lg-3">
                    <div class="panel panel-default">
                      <div class="panel-heading">Organic search</div>
                      <div class="panel-body">
                        <p>
                          <strong>Min count page :</strong><%= traffic.min_count_page_organic %></p>

                        <p>
                          <strong>Max count page :</strong><%= traffic.max_count_page_organic %></p>

                        <p>
                          <strong>Min duration page :</strong><%= traffic.min_duration_page_organic %></p>

                        <p>
                          <strong>Max duration page :</strong><%= traffic.max_duration_page_organic %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="panel panel-default">
                      <div class="panel-heading">Advertiser visit</div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-lg-12">
                            <p>
                              <strong>Min count page :</strong>
                              <%= traffic.min_count_page_advertiser %> </p>

                            <p>
                              <strong>Max count page :</strong>
                              <%= traffic.max_count_page_advertiser %></p>

                            <p>
                              <strong>Min duration page :</strong>
                              <%= traffic.min_duration_page_advertiser %> </p>

                            <p>
                              <strong>Max duration page :</strong>
                              <%= traffic.max_duration_page_advertiser %> </p>

                            <p>
                              <strong>Percent local page :</strong>
                              <%= traffic.percent_local_page_advertiser %></p>

                            <p>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="panel panel-default">
                      <div class="panel-heading">Referral visit</div>
                      <div class="panel-body">
                        <p><strong>Duration referral :</strong><%= traffic.duration_referral %></p>

                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="panel panel-default">
                      <div class="panel-heading">Website visit</div>
                      <div class="panel-body">
                        <p>
                          <strong>Max duration scraping :</strong> <%= traffic.max_duration_scraping %><br>
                        </p>

                        <p>
                          <strong>Min duration :</strong><%= traffic.min_duration %>  </p>

                        <p>
                          <strong>Max duration :</strong><%= traffic.max_duration %>
                        </p>

                        <p>
                          <strong>Min duration website :</strong><%= traffic.min_duration_website %>  </p>

                        <p>
                          <strong>Min pages website :</strong><%= traffic.min_pages_website %>
                        </p>

                      </div>
                    </div>
                  </div>
                  </p>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


</div>
<p>

</p>





