<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Listing Traffics <span class="badge"><%= Traffic.count %></span></h3>
  </div>

  <div class="panel-body">
    <%= link_to 'New Traffic', new_traffic_path, class: 'btn btn-sm btn-default' %>
    <%= link_to 'Delete all Traffics', destroy_all_traffics_path, class: "btn btn-sm btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %>

    <div class="table-responsive">
      <table class="table table-hover ">
        <thead class="header-table">
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">State</th>
          <th class="text-center">Execution</th>
          <th class="text-left">Website</th>
          <th class="text-center">Monday start</th>
          <th class="text-center">End policy</th>
          <th class="text-center">D/O/R (%)</th>
          <th class="text-center">Advertising (%)</th>
          <th class="text-center">Statistic type</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @traffics.each do |traffic| %>
            <tr>
              <td class="text-center vert-align"><%= traffic.id %></td>
              <td class="text-center vert-align">
                <% case traffic.state
                     when "created"
                       color_state = "label label-default"
                     when "published"
                       color_state = "label label-warning"
                     when "over"
                       color_state = "label label-success"
                   end %>
                <span class="<%= color_state %>"><%= traffic.state %></span>

              </td>
              <td class="text-center vert-align">
                <%= case traffic.execution_mode
                      when "manual"
                        form_for traffic, as: :post, method: :patch, url: auto_traffic_path(traffic) do |f|
                          f.submit "M", class: "btn btn-xs btn-danger", data: {confirm: "Change execution to Auto ?"}
                        end

                      when "auto"
                        form_for traffic, as: :post, method: :patch, url: manual_traffic_path(traffic) do |f|
                          f.submit "A", class: "btn btn-xs btn-success", data: {confirm: "Change execution to Manual ?"}
                        end
                    end %>

              </td>
              <td class="text-left vert-align">
                <%= link_to traffic.website.label, traffic_path(traffic.id)  %>
              </td>
              <td class="text-center vert-align"><%= traffic.monday_start %></td>
              <td class="text-center vert-align"><%= traffic.monday_start + traffic.count_weeks * 7 -1 %></td>
               <td class="text-center vert-align"><%= traffic.direct_medium_percent %>
                /<%= traffic.organic_medium_percent %>/<%= traffic.referral_medium_percent %></td>
              <td class="text-center vert-align"><%= traffic.advertising_percent %></td>
              <td class="text-center vert-align">
                <%= traffic.statistic_type %>    <br>
                <% if traffic.statistic_type == "custom" %>
                    <%= link_to traffic.custom_statistic.statistic.label, statistic_path(traffic.custom_statistic.statistic.id),class: "btn btn-xs btn-success"  %>


                <% end %>
              </td>
              <td class="text-center vert-align">
                <%= case traffic.state
                      when "created"

                        link_to 'Edit', edit_traffic_path(traffic), class: "btn btn-sm btn-default"
                      when "published"
                        link_to 'Edit', edit_traffic_path(traffic), class: "btn btn-sm btn-default disabled"
                    end %>
              </td>
              <td class="text-center vert-align">

                <%= case traffic.state
                      when "created"
                        form_for traffic, as: :post, method: :patch, url: publish_traffic_path(traffic) do |f|
                          f.submit "Publish", class: "btn btn-sm btn-warning", data: {confirm: "Are you sure?"}
                        end
                      when "published"
                        form_for traffic, as: :post, method: :patch, url: unpublish_traffic_path(traffic) do |f|
                          f.submit "Unpublish", class: "btn btn-sm btn-warning", data: {confirm: "Are you sure?"}
                        end
                    end %>

              </td>
              <td class="text-center vert-align"><%= link_to 'Destroy', traffic, class: "btn btn-sm btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>