<p id="notice"><%= notice %></p>

<h1>Listing Traffics</h1>
<%= link_to 'New Traffic', new_traffic_path, class: 'btn btn-sm btn-success' %>
<%= button_tag 'Delete all Traffics', action: destroy_all_traffics_path %>

<table class="table">
  <thead class="header-table">
  <tr>
    <th>State</th>
    <th>Website</th>
    <th>Monday start</th>
    <th>Count weeks</th>
    <th>Change count visits percent</th>
    <th>Change bounce visits percent</th>
    <th>Direct medium percent</th>
    <th>Organic medium percent</th>
    <th>Referral medium percent</th>
    <th>Advertising percent</th>
    <th>Statistic type</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @traffics.each do |traffic| %>
      <tr>
        <td><%= traffic.state %></td>
        <td><%= traffic.website.label %></td>
        <td><%= traffic.monday_start %></td>
        <td><%= traffic.count_weeks %></td>
        <td><%= traffic.change_count_visits_percent %></td>
        <td><%= traffic.change_bounce_visits_percent %></td>
        <td><%= traffic.direct_medium_percent %></td>
        <td><%= traffic.organic_medium_percent %></td>
        <td><%= traffic.referral_medium_percent %></td>
        <td><%= traffic.advertising_percent %></td>
        <td><%= traffic.statistic_type %></td>
        <td><%= link_to 'Show', traffic, class: "btn  btn-sm btn-success" %></td>
        <td><%= link_to 'Edit', edit_traffic_path(traffic), class: "btn btn-sm btn-primary" %></td>
        <td>
          <% case traffic.state
               when "created"
                 toto = "btn btn-sm btn-warning active"
               when "published"
                 toto = "btn btn-sm btn-warning disabled"
             end %>

          <%= form_for traffic, as: :post, method: :patch, url: publish_traffic_path(traffic) do |f|
            f.submit "Publish", class: toto, data: {confirm: "Are you sure?"}
          end %></td>
        <td><%= link_to 'Destroy', traffic, class: "btn btn-sm btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


