<p id="notice"><%= notice %></p>

<p>
  <strong>Statistic type:</strong>
  <%= @traffic.statistic_type %>
</p>

<p>
  <strong>Website:</strong>
  <%= @traffic.website_id %>
</p>



<p>
  <strong>Monday start:</strong>
  <%= @traffic.monday_start %>
</p>

<p>
  <strong>Count weeks:</strong>
  <%= @traffic.count_weeks %>
</p>

<p>
  <strong>Change count visits percent:</strong>
  <%= @traffic.change_count_visits_percent %>
</p>

<p>
  <strong>Change bounce visits percent:</strong>
  <%= @traffic.change_bounce_visits_percent %>
</p>

<p>
  <strong>Direct medium percent:</strong>
  <%= @traffic.direct_medium_percent %>
</p>

<p>
  <strong>Organic medium percent:</strong>
  <%= @traffic.organic_medium_percent %>
</p>

<p>
  <strong>Referral medium percent:</strong>
  <%= @traffic.referral_medium_percent %>
</p>

<p>
  <strong>Advertising percent:</strong>
  <%= @traffic.advertising_percent %>
</p>



<p>
  <strong>Max duration scraping:</strong>
  <%= @traffic.max_duration_scraping %>
</p>

<p>
  <strong>Min count page advertiser:</strong>
  <%= @traffic.min_count_page_advertiser %>
</p>

<p>
  <strong>Max count page advertiser:</strong>
  <%= @traffic.max_count_page_advertiser %>
</p>

<p>
  <strong>Min duration page advertiser:</strong>
  <%= @traffic.min_duration_page_advertiser %>
</p>

<p>
  <strong>Max duration page advertiser:</strong>
  <%= @traffic.max_duration_page_advertiser %>
</p>

<p>
  <strong>Percent local page advertiser:</strong>
  <%= @traffic.percent_local_page_advertiser %>
</p>

<p>
  <strong>Duration referral:</strong>
  <%= @traffic.duration_referral %>
</p>

<p>
  <strong>Min count page organic:</strong>
  <%= @traffic.min_count_page_organic %>
</p>

<p>
  <strong>Max count page organic:</strong>
  <%= @traffic.max_count_page_organic %>
</p>

<p>
  <strong>Min duration page organic:</strong>
  <%= @traffic.min_duration_page_organic %>
</p>

<p>
  <strong>Max duration page organic:</strong>
  <%= @traffic.max_duration_page_organic %>
</p>

<p>
  <strong>Min duration:</strong>
  <%= @traffic.min_duration %>
</p>

<p>
  <strong>Max duration:</strong>
  <%= @traffic.max_duration %>
</p>

<p>
  <strong>Min duration website:</strong>
  <%= @traffic.min_duration_website %>
</p>

<p>
  <strong>Min pages website:</strong>
  <%= @traffic.min_pages_website %>
</p>

<%= link_to 'Edit', edit_traffic_path(@traffic) %>
<%= link_to 'Later', welcome_index_path %>
