<!DOCTYPE html>
<html>
<head>
  <title>Statupweb</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" %>


  <%= csrf_meta_tags %>
  <style>
      .table tbody > tr > td.vert-align {
          vertical-align: middle;
      }
  </style>
  <script>
      $(document).ready(function () {
          $('[data-toggle="tooltip"]').tooltip();
      });

  </script>
  <script>
      $(document).ready(function () {

          // hide spinner
          $(".fa").hide();


          // show spinner on AJAX start
          $(document).ajaxStart(function () {
              $(".fa").show();
          });

          // hide spinner on AJAX stop
          $(document).ajaxStop(function () {
              $(".fa").hide();
          });

      });
  </script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Statup Web', root_path, class: "navbar-brand" %>
      <i class="fa fa-spinner fa-spin" style="font-size:20px;color:white"></i>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Sea Attack", sea_attacks_path %></li>
      <li><%= link_to "Traffics", traffics_path %></li>
      <li><%= link_to "Ranks", ranks_path %></li>
      <li><%= link_to "Websites", websites_path %></li>
      <li><%= link_to "Seas", seas_path %></li>
      <li><%= link_to "Statistics", statistics_path %></li>
      <li><%= link_to "Activity Servers", activity_servers_path %></li>
      <li><%= if ["test", "production"].include?(Rails.env)
                link_to "Activity Jobs", "/delayed_job/overview"
              end %></li>
      <li class="text-right">
        <div id="notice" class="label label-success">
          <% if flash[:notice] %> <%= flash[:notice] %>
          <% end %></div>
        <div id="alert" class="label label-danger">
          <% if flash[:alert] %> <%= flash[:alert] %>
          <% end %></div>


      </li>

    </ul>
  </div>
</nav>


<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
