<!DOCTYPE html>
<html>
<head>
  <title>Statupweb</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <style>
      .table tbody > tr > td.vert-align {
          vertical-align: middle;
      }
  </style>
  <script>
      $(document).ready(function () {
          $('[data-toggle="tooltip"]').tooltip();
      });

  </script>

</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">Statup Web</a>-->
      <%= link_to 'Statup Web', root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', root_path %></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Traffics", traffics_path %></li>
            <li><%= link_to "Ranks", ranks_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Websites", websites_path %></li>
            <li><%= link_to "Statistics", statistics_path %></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<div id="main-container" class="container-fluid">
  <%= yield %>
</div>


</body>
</html>
